<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>New Animal</title>
</head>

<body>
<div align="center">
    <h1>Add new animal</h1>

    <br />


    <form action="#" th:action="@{/saveAnimal}" th:object="${animal}"
          method="post">
        <table border="1" cellpadding="10">
            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{NAME}"></td>
            </tr>
            <tr>
                <td>Species:</td>
                <td><input type="text" th:field="*{SPECIES}"></td>
            </tr>
            <tr>
                <td>Race:</td>
                <td><input type="text" th:field="*{RACE}"></td>
            </tr>
            <tr>
                <td>Birth Date:</td>
                <td><input type="text" th:field="*{DATE_OF_BIRTH}"></td>
            </tr>
            <tr>
                <td>Person_id:</td>
                <td><input type="text" th:field="*{PERSON_ID}"></td>
            </tr>

            <tr>
                <td colspan = "2"><button type ="submit">Save Animal</button></td>
            </tr>


        </table>
    </form>
</div>


</body>