<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>People and their animals</title>


    <style>

table {
border-collapse: collapse;
width: 100%;
color: #588c7e;
font-family: monospace;
font-size: 25px;
text-align: left;
}
th {
background-color: #588c7e;
color: white;
}
tr:nth-child(even) {background-color: #f2f2f2}
</style>
</head>
<body>
<div align="center">
    <h1>ADDRESSES</h1>

    <a href = "/addAddress">Enter new address</a>
    <a href = "/editAddress">Edit address information</a>
    <a href = "/deleteAddress">Delete Address</a>



    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>ADDRESS_ID</th>
            <th>STREET</th>
            <th>APT_NUMBER</th>
            <th>CODE</th>
            <th>CITY</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each = "ADDRESS : ${listAddress}">
            <td th:text="${ADDRESS.ADDRESS_ID}">ADDRESS_ID</td>
            <td th:text="${ADDRESS.STREET}">STREET</td>
            <td th:text="${ADDRESS.APT_NUMBER}">APT_NUMBER</td>
            <td th:text="${ADDRESS.CODE}">CODE</td>
            <td th:text="${ADDRESS.CITY}">CITY</td>

            <td>
                <a th:href="@{'/editAddress/' + ${ADDRESS.ADDRESS_ID}}">Edit</a>
                <a th:href="@{'/deleteAddress/' + ${ADDRESS.ADDRESS_ID}}">Delete</a>
            </td>

        </tr>
        </tbody>

    </table>


    <form action="#" th:action="@{/backHomePage}">
        <tr>
            <td colspan = "2"><button type ="submit">Home Page</button></td>
        </tr>
    </form>
</div>
</body>
</html>
