<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Edit person</title>
</head>

<body>
<div align="center">
    <h1>Edit person</h1>

    <br />


    <form action="#" th:action="@{/saveEditPerson}" th:object="${person}"
          method="post">
        <table border="1" cellpadding="10">
            <tr>
                <td>PERSON_ID</td>
                <td><input type="text" th:field="*{PERSON_ID}" readonly="readonly"></td>
            </tr>


            <tr>
                <td>NAME:</td>
                <td><input type="text" th:field="*{NAME}"></td>
            </tr>
            <tr>
                <td>SURNAME:</td>
                <td><input type="text" th:field="*{SURNAME}"></td>
            </tr>
            <tr>
                <td>BIRTH_DATE:</td>
                <td><input type="text" th:field="*{BIRTH_DATE}"></td>
            </tr>
            <tr>
                <td>ADDRESS_ID:</td>
                <td><input type="text" th:field="*{ADDRESS_ID}"></td>
            </tr>

            <tr>
                <td colspan = "2"><button type ="submit">saveEditPerson</button></td>
            </tr>


        </table>
    </form>
</div>


</body>