<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Edit animal</title>
    <link th:href="@{/style.css}" rel="stylesheet" type="text/css">
    <style>
table {
border-collapse: collapse;
width: 100%;
color: #588c7e;
font-family: monospace;
font-size: 25px;
text-align: left;
}
th {
background-color: #588c7e;
color: white;
}
.button1{
background-color: #588c7e;
height:80px;
  width:300px;
color: red;

}
.button1 button{
background-color: white;
height:80px;
  width:300px;
color: red;


}
tr:nth-child(even) {background-color: #f2f2f2}
</style>
</head>
<body>
<div class="u1">


    <div sec:authorize="hasAnyRole('ANONYMOUS')">
        <form action="#" th:action="@{/login}">
            <tr>
                <td colspan = "2"><button class="przycisk" type ="submit">Log in</button></td>
            </tr>
        </form>
    </div>


    <div sec:authorize="hasAnyRole('USER', 'ADMIN')">
        <form action="#" th:action="@{/logout}">
            <tr>
                <td colspan = "2"><button class="przycisk" type ="submit">Log out</button></td>
            </tr>
        </form>
    </div>
</div>
<div sec:authorize="hasAnyRole('USER', 'ADMIN')" class="welcome">
    <h3 th:inline="text">user: [[${#httpServletRequest.remoteUser}]]</h3>
</div>





<div align="center">


    <h1>Edit animal</h1>

    <br />


    <form action="#" th:action="@{/saveEditAnimal}" th:object="${animal}"
          method="post">
        <table border="1" cellpadding="10">
            <tr>
                <td>ANIMAL_ID:</td>
                <td><input type="text" th:field="*{ANIMAL_ID}"></td>
            </tr>


            <tr>
                <td>NAME:</td>
                <td><input type="text" th:field="*{NAME}"></td>
            </tr>
            <tr>
                <td>SPECIES:</td>
                <td><input type="text" th:field="*{SPECIES}"></td>
            </tr>
            <tr>
                <td>RACE:</td>
                <td><input type="text" th:field="*{RACE}"></td>
            </tr>
            <tr>
                <td>DATE_OF_BIRTH:</td>
                <td><input type="text" th:field="*{DATE_OF_BIRTH}"></td>
            </tr>
            <tr>
                <td>PERSON_ID:</td>
                <td><input type="text" th:field="*{PERSON_ID}"></td>
            </tr>


            <tr>
                <td class = "button1" align="center" colspan = "2"><button type ="submit"><h4>Save</h4></button></td>
            </tr>



        </table>
    </form>
    <div align="center" class="przycisk3">
        <form action="#" th:action="@{/backHomePage}">
            <tr>
                <td colspan = "2"><button type ="submit"><h4>Home Page</h4></button></td>
            </tr>
        </form>
    </div>
</div>


</body>