<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>People and their animals</title>
    <link th:href="@{/style.css}" rel="stylesheet" type="text/css">
    <style>
table {
border-collapse: collapse;
width: 100%;
color: #588c7e;
font-family: monospace;
font-size: 25px;
text-align: left;
}
th {
background-color: #588c7e;
color: white;
}
tr:nth-child(even) {background-color: #f2f2f2}
</style>
</head>
<body>
<div class="u1">


    <div sec:authorize="hasAnyRole('ANONYMOUS')">
        <form action="#" th:action="@{/login}">
            <tr>
                <td colspan = "2"><button class="przycisk" type ="submit">Log in</button></td>
            </tr>
        </form>
    </div>


    <div sec:authorize="hasAnyRole('USER', 'ADMIN')">
        <form action="#" th:action="@{/logout}">
            <tr>
                <td colspan = "2"><button class="przycisk" type ="submit">Log out</button></td>
            </tr>
        </form>
    </div>
</div>

<div sec:authorize="hasAnyRole('USER', 'ADMIN')" class="welcome">
    <h3 th:inline="text">user: [[${#httpServletRequest.remoteUser}]]</h3>
</div>

<div sec:authorize="hasAnyRole('ANONYMOUS')" class="welcome">
    <h1>Welcome</h1>
</div>

<div class="przycisk2" align="center">
    <h1>Fail, no person with id given </h1>


    <br/>

    <form action="#" th:action="@{/HomePage}">
        <tr>
            <td colspan = "2"><button type ="submit">Home Page</button></td>
        </tr>
    </form>
</div>
</body>
</html>