<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>People</title>
    <style>
table {
border-collapse: collapse;
width: 100%;
color: #588c7e;
font-family: monospace;
font-size: 25px;
text-align: left;
}
th {
background-color: #588c7e;
color: white;
}
tr:nth-child(even) {background-color: #f2f2f2}
</style>
</head>

<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
<br />
<form action="#" th:action="@{/logout}">
    <tr>
        <td colspan = "2"><button type ="submit">Log out</button></td>
    </tr>
</form>
<body>
<div align="center">
    <h1>PERSONS</h1>



    <a href = "/addPerson">Enter new Person</a>



    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>PERSON_ID</th>
            <th>NAME</th>
            <th>SURNAME</th>
            <th>BIRTH_DATE</th>
            <th>ADDRESS_ID</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each = "PERSON : ${person2List}">
            <td th:text="${PERSON.PERSON_ID}">PERSON_ID</td>
            <td th:text="${PERSON.NAME}">NAME</td>
            <td th:text="${PERSON.SURNAME}">SURNAME</td>
            <td th:text="${PERSON.BIRTH_DATE}">BIRTH_DATE</td>
            <td th:text="${PERSON.ADDRESS_ID}">ADDRESS_ID</td>
            <td>
                <a th:href="@{'/editPerson/' + ${PERSON.PERSON_ID}}">Edit</a>
                <a th:href="@{'/saveDeletePerson/' + ${PERSON.PERSON_ID}}">Delete</a>
            </td>
        </tr>
        </tbody>

</table>

    <form action="#" th:action="@{/backHomePage}">
        <tr>
            <td colspan = "2"><button type ="submit">Home Page</button></td>
        </tr>
    </form>
</div>
</body>
</html>
